* {
  padding: 0;
  margin: 0;
  font-weight: 500;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #181a1b;
}

html,
body {
  overflow-x: hidden;
}

body,
.heading,
.mainForm,
.nickname,
.host,
.join {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body {
  width: 100vw;
  height: 100dvh;
  justify-content: space-evenly;
  overflow: hidden;
}

body{
  background: linear-gradient(to bottom right, #FF0000, #8000FF, #00AFFF);
}

.heading {
  margin-bottom: 50px;
}

h1 {
  font-size: 3.5rem;
}

.nicknameInp {
  width: 250px;
  height: 50px;
  border-radius: 8px;
  margin: 10px 0 10px 0;
  border: none;
  padding: 10px;
  background-color: rgba(242, 242, 242, 0.6);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainForm {
  width: 30%;
  justify-content: center;
}

.host,
.join {
  width: 100%;
  margin-top: 50px;
}

.hostButton,
.joinButton {
  width: 250px;
  height: 50px;
  font-size: larger;
  border: none;
  border-radius: 200px;
  background-color: rgba(242, 242, 242, 0.6);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.roomid {
  width: 250px;
  height: 50px;
  border-radius: 8px;
  margin: 10px 0 10px 0;
  border: none;
  padding: 10px;
  background-color: rgba(242, 242, 242, 0.6);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hostButton:hover,
.joinButton:hover {
  cursor: pointer;
  opacity: 75%;
}

.tagLine {
  padding-left: 100px;
}

@media (max-width: 768px) {
  .mainForm {
    width: 70%;
  }

  h1 {
    font-size: 2rem;
  }

  .nicknameInp,
  .roomid {
    width: 175px;
  }

  .hostButton,
  .joinButton {
    width: 175px;
    font-size: large;
  }

  .nickname h2, .host h2, .join h2{
    font-size: large;
  }
}

@media (max-width: 480px) {
  .mainForm {
    width: 90%;
  }

  h1 {
    font-size: 1.5rem;
  }

  .nicknameInp,
  .roomid {
    width: 150px;
    font-size: medium;
  }

  .hostButton,
  .joinButton {
    width: 150px;
  }

  input::placeholder{
    font-size: 14px;
  }

  .heading {
    margin-bottom: 30px;
  }

  .nickname h2, .host h2, .join h2{
    font-size: medium;
  }
}